body {
  color: lightblue;
  font-family: sans-serif;
}
h1 {
  color: purple;
  text-align: center;
}
p {
  color: green;
  padding: 10px;
}
li {
  color: pink;
}
li::marker {
  color: red;
}
a:link {
  color: blue;
}
a:hover {
  text-decoration: none;
}
.styled-box {
  border: solid green;
  background-color: lightgray;
  padding: 15px;
  text-align: center;
}
